/* Search_filter project css start */


.Search_filter_container{
    width: 400px;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 40px;
    padding: 30px;
    background-color: white;
    /* border: 2px solid red; */
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .Search_filter_heading{
    display: flex;
    gap: 100px;
   
    margin: auto;
    font-family: sans-serif;
    font-weight: 600;
  }
  .Search_filter_datalist{
    display: flex;
    gap: 100px;
   
    /* margin: auto; */
    justify-content: space-evenly;
    margin-top: 20px;
    align-items: center;
    text-align: center;
  }
  
  
  .Search_filter_container input{
    padding: 10px;
    margin-bottom: 20px;
    
  }
  
  .Search_filter_datalist img{
    width: 70px;
  height: 70px;
  }
  
  .Search_filter_datalist p{
    width: 50px;
    text-align: center;
    align-items: center;
  }
  
  .Search_filter_datalists{
    color: black;
  
    
  }
  
  
  