*{
    margin: 0;
    padding: 0;
  }
  .navbar{
    background-color: aquamarine;
    color: black;
    display: flex;
    /* width: 100%; */
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 600;
    margin-bottom: 40px;
  }
  
  .searchbar{
    display: flex;
    
  }
  .searchbar input{
    border-radius: 5px ;
    /* border: none; */
    text-align: center;
    padding: 10px;
  }
  .searchbar button{
    background-color: rgb(0, 1, 1);
    color: white;
    font-family: sans-serif;
    font-weight: 700;
    border-radius: 5px ;
    margin-left: 2px;
    padding: 7px;
  
  }
  
  .searchbar button:hover{
    cursor: pointer;
  }
  
  .htitle{
    text-align: center;
  }
  
  .buttongroup{
    display: flex;
    /* align-items: center; */
    justify-content: center;
   
  
  }
  .buttongroup button{
    margin: 5px;
    color: white;
    background-color: brown;
    font-weight: 700;
    padding: 7px 15px;
    border-radius: 10px;
    border: none;
  }
  
  /* card css start */
  
  .cardcontainer{
    width: 250px;
    height: auto;
    background-color: white;
    /* border: 2px solid red; */
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-bottom: 20px;
    margin-top: 40px;
  }
  .cardcontainer img{
    width: 250px;
    border-radius: 10px;
    height: 200px;
  }
  
  .cardcontainer button{
    margin: 5px;
    color: white;
    background-color: brown;
    font-weight: 700;
    padding: 7px 15px;
    border-radius: 10px;
    border: none;
   
  
    
   
  
  }
  
  .cardmain{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  
  }
  
  .cardcontainer a{
    text-decoration: none;
    color: white;
  }
  
  .title{
    color: black;
    font-weight: 700;
    font-family: sans-serif;
    margin-bottom: 25px;
    height: 100px;
  }
  
  .cardcontainer .des{
   
     height: 100px;
     
  }
  